@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
  background-size: cover;
  background-repeat: no-repeat;  
}

body h2{
    text-align: center;
    font-family: 'Mea Culpa';
    font-size: 100px;
}
body button{
  font-family: 'Mea Culpa';
  background-color: rgba(85, 83, 83, 0.911);
  width:60px;
  height: 50px;
}

/* Side menu */
.navbar {
    width: 100px;
    height:800px;
    background-color: rgba(85, 85, 85, 0.425);
    overflow: auto;
    float: left;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
    width: 95px
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #0000005b;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .percentages{
      background-color:rgb(0, 0, 0);
      border: solid white 2px;
      width: 300px;
      height:22px;
      display: inline-block;
      margin-top: 35px;
      margin-right: 20px;

  }

  p{
      display: inline-block;
      color: white;
      font-family: 'Mea Culpa';
      font-size: 35px;
      text-align: center;
  }

  section{
    padding: 0px 20px;
    background: rgba(0, 0, 0, 0.418);
    margin: 30px 360px;
    border-radius: 10px;
  }

  h3{
    text-align: center;
    font-family: 'Mea Culpa';
    font-size: 50px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 10px;
    margin: 30px 0px;
  }

  .description{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-family: 'Dancing Script';
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
